// Pipeline manifest
manifest {
    name            = 'cormackinsella/nf-chain'
    contributors    = [
        [
            name: 'Cormac Kinsella',
            affiliation: 'National Bioinformatics Infrastructure Sweden (NBIS), Uppsala University',
            email: 'cormac.kinsella@nbis.se',
            github: 'https://github.com/CormacKinsella',
            contribution: ['author', 'maintainer']
        ]
    ]
    homePage        = 'https://github.com/cormackinsella/nf-chain'
    description     = 'Generate chain files for genome liftovers'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=26.4.1'
    version         = '0.1'
}

// Enable pipeline resume by default
resume = true

// Global default params
params {

    // General
    project                    = null
    steps                      = 'prepare_inputs,align_assemblies,generate_chains,liftover'

    // Input options
    input                      = null
    chain_file                 = null // Optional input for liftover
    liftover_input             = null // Input files for liftover
    mode                       = 'many_to_many' // Optional extra validation of the samplesheet for specific applications

    // Workflow settings
    aligner                    = null
    softmask_source            = false
    softmask_target            = false

    // Chunking general
    chunk_size                 = 4500 // FASTA records have this size
    extra                      = 500  // FASTA records overlap by this many bases

    // BLAT specific
    aggregate_chunk_size       = 50000000 // FASTA records are aggregated into sets of this size for BLAT alignment (~64 parallel jobs for a human size genome)
    exclude_frequent_kmers     = true     // Frequent 11-mers are masked by BLAT
    blat_mask_lower_in_target  = true     // BLAT considers lowercase softmasking in the target assembly (BLAT query)
    blat_mask_lower_in_source  = true     // BLAT considers lowercase softmasking in the source assembly (BLAT target_reference)
    blat_fastmap               = null     // Use BLAT's fastMap option (reduces sensitivity, so use for close assemblies only)
    blat_min_score             = 30       // UCSC default for "same species" genomes is 100, BLAT default of 30 adds sensitivity
    blat_min_identity          = 90       // UCSC default for "same species" genomes is 98, BLAT default is 90

    // Chaining specific
    axtchain_linear_gap        = 'medium' // UCSC default is 'medium'
    axtchain_min_score         = 1000     // Program default = 1000
    chains_sequential          = false    // Set true to mimic UCSC sequential processing of each chr.chain (slower and seems to use more memory)

    // Liftover specific
    preserve_input_positions   = false    // Preserve input positions in lifted output (useful for benchmarking liftover performance against known coordinates). Requires bed4+

    // Internal
    outdir                     = 'results'
    monochrome_logs            = false
    help                       = false
    help_full                  = false
    show_hidden                = false
    version                    = false
    trace_timestamp            = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
    tracing                    = false
    validate_params            = true
    config_profile_name        = null
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"

}

// Generic HPC config, override with specific profiles
includeConfig 'conf/base.config'

// Profiles
profiles {
    debug {
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    docker {
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    emulate_amd64 {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        apptainer.cacheDir      = "work/singularity"
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.cacheDir    = "work/singularity"
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    test {
        includeConfig 'conf/test.config'
    }
    dag {
        dag.enabled             = true
        dag.direction           = 'TB' // Top to bottom (opts: TB, LR)
        dag.file                = "${projectDir}/results/01_pipeline_info/dag/${params.trace_timestamp}_dag.mmd"
    }
}

// Allow institutional configs
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Set container registry information
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

// Bash options
process.shell = [
    "bash",
    "-C",           // No clobber - prevent output redirection from overwriting files.
    "-e",           // Exit if a tool returns a non-zero status/exit code
    "-u",           // Treat unset variables and parameters as an error
    "-o",           // Returns the status of the last command to exit..
    "pipefail"      //   ..with a non-zero status or zero if all successfully execute
]

// Universal output publishing settings
workflow {
    output {
        mode = 'copy'
        overwrite = true
    }
}

// Disable process selector warnings (use debug profile to enable)
nextflow.enable.configProcessNamesValidation = false

// Tracing
timeline {
    enabled   = params.tracing
    file      = "${projectDir}/results/01_pipeline_info/tracing/${params.trace_timestamp}_timeline.html"
    overwrite = true
}
report {
    enabled   = params.tracing
    file      = "${projectDir}/results/01_pipeline_info/tracing/${params.trace_timestamp}_report.html"
    overwrite = true
}
trace {
    enabled   = params.tracing
    file      = "${projectDir}/results/01_pipeline_info/tracing/${params.trace_timestamp}_trace.txt"
    overwrite = true
}
dag {
    enabled   = params.tracing
    file      = "${projectDir}/results/01_pipeline_info/tracing/${params.trace_timestamp}_dag.png"
    overwrite = true
}

// Plugins & validation
plugins {
    id 'nf-schema@2.6.1'
}

// Do not prompt updates to specific parameter defaults when running `nf-core pipelines schema build`
validation {
    defaultIgnoreParams = [
        "trace_timestamp"
    ]
}

// Modules config
includeConfig 'conf/modules.config'

// Tool resources
includeConfig 'conf/tool_resources.config'
