process {

    // DOWNLOAD_ASSEMBLY
    withName: 'DOWNLOAD_ASSEMBLY' {
        ext.args = "download genome accession --include genome"
    }

    // UNZIP_ASSEMBLY
    withName: 'UNZIP_ASSEMBLY' {
        executor = 'local'
    }

// TODO change module names to refer to source/target for user clarity
    // SPLIT_REFERENCE
    withName: 'SPLIT_REFERENCE' {
        ext.args  = "reference"
        ext.args2 = { "-extra=${params.extra}" }
    }

    // PROCESS_QUERY
    withName: 'PROCESS_QUERY' {
        ext.args  = "query"
    }

    // BLAT
    withName: 'BLAT' {
        ext.args  = params.exclude_frequent_kmers   ? "-ooc=11.ooc"  : null
        // TODO change param name to refer to source/target for user clarity
        ext.args2 = params.blat_ref_consider_mask   ? "-mask=lower"  : null
        ext.args3 = params.blat_query_consider_mask ? "-qMask=lower" : null
        ext.args4 = params.blat_fastmap             ? "-fastMap"     : null
    }

}
