process {

    // DOWNLOAD_ASSEMBLY
    withName: 'DOWNLOAD_ASSEMBLY' {
        ext.args = "download genome accession --include genome"
    }

    // UNZIP_ASSEMBLY
    withName: 'UNZIP_ASSEMBLY' {
        executor = 'local'
    }

    // PROCESS_TARGET
    withName: 'PROCESS_TARGET' {
        ext.args = { "-extra=${params.extra}" }
    }

    // BLAT
    withName: 'BLAT' {
        ext.args  = params.exclude_frequent_kmers    ? "-ooc=11.ooc"  : null
        ext.args2 = params.blat_mask_lower_in_source ? "-mask=lower"  : null
        ext.args3 = params.blat_mask_lower_in_target ? "-qMask=lower" : null
        ext.args4 = params.blat_fastmap              ? "-fastMap"     : null
        ext.args5 = { "-minScore=${params.blat_min_score}"       }
        ext.args6 = { "-minIdentity=${params.blat_min_identity}" }
    }

    // AXTCHAIN
    withName: 'AXTCHAIN' {
        ext.args  = params.aligner == "blat" ? "-psl" : null
        ext.args2 = { "-linearGap=${params.axtchain_linear_gap}" }
        ext.args3 = { "-minScore=${params.axtchain_min_score}"   }
    }

    // MERGE_CHAINS
    withName: 'MERGE_CHAINS' {
        ext.args = params.chains_sequential ? null : "-lump=1"
    }

    // LIFTOVER_BED
    withName: 'LIFTOVER_BED' {
        ext.args = params.preserve_input_positions ? "-preserveInput" : null
    }

    // LIFTOVER_GFF_OR_GTF
    withName: 'LIFTOVER_GFF_OR_GTF' {
        ext.args = "-gff"
    }

}
