process {

    // DOWNLOAD_ASSEMBLY
    withName: 'DOWNLOAD_ASSEMBLY' {
        ext.args = "download genome accession --include genome"
    }

    // UNZIP_ASSEMBLY
    withName: 'UNZIP_ASSEMBLY' {
        executor = 'local'
    }

    // SPLIT_REFERENCE
    withName: 'SPLIT_REFERENCE' {
        ext.args  = "reference"
        ext.args2 = { "-extra=${params.extra}" }
    }

    // PROCESS_QUERY
    withName: 'PROCESS_QUERY' {
        ext.args  = "query"
    }

    // BLAT
    withName: 'BLAT' {
        ext.args  = params.exclude_frequent_kmers ? "-ooc=11.ooc" : null
    }

}
